<header class="app-header">
  <nav class="navigation">
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li *ngIf="!(isAuthenticated$ | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a
          *ngIf="(authUser$ | async)?.role === 'student'"
          routerLink="/student-dashboard"
        >
          Dashboard</a
        >
      </li>
      <li>
        <a
          *ngIf="(authUser$ | async)?.role === 'student'"
          routerLink="/my-courses"
          >My Courses</a
        >
      </li>
      <li>
        <a
          *ngIf="(authUser$ | async)?.role === 'admin'"
          routerLink="/logs"
          >Show logs</a
        >
      </li>
      <li *ngIf="isAuthenticated$ | async">
        <button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </nav>
</header>
