<div class="form-container">
  <h2>{{ isEditMode ? "Edit Course" : "Add Course" }}</h2>

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" type="text" />

    <label for="description">Description:</label>
    <textarea
      id="description"
      formControlName="description"
      rows="4"
    ></textarea>

    <label for="teacher">Assign Teacher:</label>
    <select id="teacher" formControlName="teacherId">
      <option value="">..No teacher assigned..</option>
      <option *ngFor="let teacher of teachers$ | async" [value]="teacher.id">
        {{ teacher.name || teacher.email }}
      </option>
    </select>

    <button type="submit" [disabled]="courseForm.invalid">
      {{ isEditMode ? "Update" : "Add" }}
    </button>
  </form>
</div>
